<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .form-field {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }
      input,
      select {
        width: 50vw;
        padding: 8px;
      }
      .btn {
        width: 100px;
      }
      .btn-container {
        display: flex;
        justify-items: center;

        justify-content: center;
        align-items: center;
        width: 50vw;
        margin-top: 30px;
      }
      label {
        margin-bottom: 5px;
      }
      
    </style>
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>ICA Abuja Booking Form</title>
  </head>
  <body>
    <h1>ICA Abuja Booking Form</h1>
    <form action="process_registration.php" method="POST">
      <div class="form-field">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required />
      </div>

      <div class="form-field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>

      <div class="form-field">
        <label for="number">Phone Number:</label>
        <input type="text" id="number" name="number" required />
      </div>

      <div class="form-field">
        <label for="status">Status:</label>
        <select id="Status" name="Status" required>
          <option value="member">MEMBER</option>
          <option value="non member">NON-MEMBER</option>
        </select>
      </div>

      <div class="form-field">
        <label for="ticket-type">Ticket Type:</label>
        <select id="ticket-type" name="ticket-type" required>
          <option value="normal">NORMAL</option>
          <option value="vip1">VIP 1</option>
          <option value="vip2">VIP 2</option>
          <option value="vvip">VVIP</option>
        </select>
      </div>

      <div class="form-field">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" required />
      </div>
      <div class="form-field">
        <label for="payment-method">Payment Method:</label>
        <input
          type="radio"
          id="credit-card"
          name="payment-method"
          value="credit-card"
          required
        />
      </div>
      <div class="form-field">
        <label for="credit-card">Credit Card</label>
        <input
          type="radio"
          id="paypal"
          name="payment-method"
          value="paypal"
          required
        />

        <label for="paypal">PayPal</label>
      </div>
      <div class="form-field btn-container">
        <input class="btn" type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
